<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    <link rel="stylesheet" href="bootstrap/bootstrap.min.css" />
    <link rel="stylesheet" href="app.css" />
    <link rel="stylesheet" href="Yalda.styles.css" />
    <link rel="icon" type="image/png" href="favicon.png" />
    <HeadOutlet @rendermode="@InteractiveWebAssembly" />
    <link href="/animate.css/animate.css" rel="stylesheet" />

    <style>
        font-face {
            font-family: vazir;
            src: url('../fonts/vazir/Vazir-Light-FD-WOL.eot');
            src: url('../fonts/vazir/Vazir-Light-FD-WOL.eot') format('embedded-opentype'), url('../fonts/vazir/Vazir-Light-FD-WOL.woff') format('woff'), url('../fonts/vazir/Vazir-Light-FD-WOL.ttf') format('truetype');
            font-weight: 400;
            font-style: normal
        }

        font-face {
            font-family: vazir-bold;
            src: url('../fonts/vazir/vazir-Bold.eot');
            src: url('../fonts/vazir/vazir-Blod.eot') format('embedded-opentype'), url('../fonts/vazir/Vazir-Bold-FD.woff') format('woff'), url('../fonts/vazir/vazir-Bold.ttf') format('truetype');
            font-weight: 400;
            font-style: normal
        }

        body{
            font-family:Vazir;
        }
    </style>
</head>

<body>
    <Routes @rendermode="@InteractiveWebAssembly" />
    <script src="_framework/blazor.web.js"></script>
    <script src="_content/BlazorAnimate/blazorAnimateInterop.js"></script>

</body>

</html>
